<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div style="text-align:justify; margin-left:1%;">
    <h1 style="font-size: xx-large; font-family: -apple-system; color: #FCC201;">
      House of Anime
    </h1>
  </div>
  <div style="text-align:left; margin-left:1%;">
    <h5 style="font-family:-apple-system;">What do you have want to explore now?</h5>
  </div>
  <div style="background-color: ;">
    <button onclick="">ANIME</button>
    <button>MANGA</button>
  </div>
</div>

<app-manga></app-manga>

<router-outlet></router-outlet>